body {
  font-family: helvetica, arial, sans-serif;
  line-height: 18px;
}

b,
strong {
  font-weight: bold;
}

#leaderboard .ui-block-a {
  text-align: right;
  width: 15%;
}

#leaderboard .ui-block-a .place_num {
  margin-right: 20px;
  text-align: right;
}

#leaderboard .ui-block-b,
#leaderboard .ui-block-c {
  width: 42.5%;
}

#leaderboard .ui-block-c {
  text-align: right;
}

.ui-field-contain {
  border-bottom: 0px;
}